<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestos: Doble Click - Presión Larga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

  <h1 style="
      text-align: center;
      margin-top: 20px;
      font-weight: 600;
      color: #333;">
    Gestos Personalizados
  </h1>

  <p style="
      text-align: center;
      margin-bottom: 30px;
      color: #777;">
    Doble Click o Mantén Presionado el Recuadro
  </p>

  <ion-card appGestureBox
            style="
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            border-radius: 15px;
            background: linear-gradient(135deg, #5e3b0e, #af0a0a);
            color: white;
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            user-select: none;">
    <div>
      👉 Interactúa aquí
    </div>
  </ion-card>

</ion-content>


</ion-content>
